@media screen and (max-width:700px){
    nav{
        text-align: center;
        padding:  12px 79px 15px 0px;
    }
    .nav{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    header{
        width: 130%;
        height: 850px;

    }
    .text-header > h1,h2{
        font-size: 45px;  
    }
    #ola_1{
        
        padding: 130px 0px 0px 0px;
       
    }
    .titulo{
        font-size: 38px;
        margin-bottom: 15px;
        padding: 0px 88px 0px 0px;
         
    }
    .linea{
        width: 75%;
        text-align: center;
        margin-left: 78px;
        padding: 0px 54px 28px 0px;
    }
    .galeria{
        width: 78%;   
    }
    .galeria-red img{
        width:165px;
        height:169px;
    }

    .image_conter2{
        width:233px;
        height:246px;
    }
    .titulo1{
        font-size: 32px;
       
    }
    #ola_2{
        padding: 110px 0px 0px 0px;
    }
    .titulo3{
        font-size: 35px;
        margin-bottom: 10px;
        padding: 0px 100px 0px 0px;
        
    }
    .linea3{
        width: 76%;
        margin-left: 28px;  
    }
    .materia{
       padding:0px 165px 0px 0px; 
    }
    .materia h3 span{
        width: 181px;
        height: 190px;
        padding: 58px 0px 33px 0px;
        font-size: 28px;
    }

    .titulo4{
        font-size: 32px; 
        width: 15px; 
        padding:0px 0px 0px 0px;      
    }
    .image_conter4{
        width:240px;
        height:253px; 
        padding:0px 0px 0px 0px; 
    }
    .tamaño4{
        padding: 0px 200px 0px 0px;
    }
    .parrafo4{
        width: 320px;
        font-weight: 300;
       

    }
    .parrafos4{
        width: 320px;
        font-weight: 300;
        padding:0px 115px 0px 0px;
    }


    .titulo5{
       
        font-size: 35px;
    }
    .linea5{
        margin-left: 7px;
        padding: 25px 35px 27px 0px;  
    }
    .direccion{
        padding: 0px 160px 0px 0px;
    }
    .image_conter5{
        width:211px;
        height:200px;
        
    }

    .contenedor_6{
        padding: 40px 200px 0px 0px;
    }
    .titulo6{
        font-size: 40px;
        margin-bottom: 40px;
        
        
    }
    .linea6{
        margin-left: 15px;
     
    }
    #ola_3{
        padding: 120px 0px 0px 0px;
    }
    .conteiner7{
        background-color:#000;
    }
    .contenedor-footer{
       
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        padding-bottom: 50px;
        color: #fff;
    }
    .conteiner7{
       
        padding: 60px 0 30px 0;
        margin: auto;
        
    }
    .contenedor-footer{
        padding: 0px 120px 0px 26px;
    }
    

}

@media screen and (max-width:600px){
    nav{
        text-align: center;
        padding:  12px 79px 15px 0px;
    }
    .nav{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    header{
        width: 130%;
        height: 850px;

    }
    .text-header > h1,h2{
        font-size: 45px;  
    }
    #ola_1{
        
        padding: 130px 0px 0px 0px;
       
    }
    .titulo{
        font-size: 38px;
        margin-bottom: 15px;
        padding: 0px 88px 0px 0px;
         
    }
    .linea{
        width: 75%;
        text-align: center;
        margin-left: 78px;
        padding: 0px 54px 28px 0px;
    }
    .galeria{
        width: 90%;   
    }
    .galeria-red img{
        width:165px;
        height:169px;
    }

    .image_conter2{
        width:233px;
        height:246px;
    }
    .titulo1{
        font-size: 32px;
       
    }
    #ola_2{
        padding: 130px 0px 0px 0px;
    }
    .titulo3{
        font-size: 35px;
        margin-bottom: 10px;
        padding: 0px 100px 0px 0px;
        
    }
    .linea3{
        width: 76%;
        margin-left: 28px;  
    }
    .materia h3 span{
        width: 181px;
        height: 190px;
        padding: 58px 0px 33px 0px;
        font-size: 28px;
    }

    .titulo4{
        font-size: 32px; 
        width: 15px; 
        padding:0px 0px 0px 0px;      
    }
    .image_conter4{
        width:240px;
        height:253px; 
        padding:0px 0px 0px 0px;

     
    }
    .parrafo4{
        width: 320px;
        font-weight: 300;
       

    }
    .parrafos4{
        width: 320px;
        font-weight: 300;
        padding:0px 115px 0px 0px;
       

    }


    .titulo5{
       
        font-size: 35px;
    }
    .linea5{
        margin-left: 7px;
        padding: 25px 35px 27px 0px;  
    }
    .image_conter5{
        width:211px;
        height:200px;
        
    }


    .titulo6{
        font-size: 40px;
        margin-bottom: 40px;
        
        
    }
    .linea6{
        margin-left: 15px;
     
    }
    #ola_3{
        padding: 155px 0px 0px 0px;
    }
    .conteiner7{
        background-color:#000;
    }
    .contenedor-footer{
       
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        padding-bottom: 50px;
        color: #fff;
    }
    .conteiner7{
       
        padding: 60px 0 30px 0;
        margin: auto;
        
    }
    

}


@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding:  12px 79px 15px 0px;
    }
    .nav{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    header{
        width: 130%;
        height: 850px;

    }
    .text-header > h1,h2{
        font-size: 45px;  
    }
    
    #ola_1{
        
        padding: 323px 0px 0px 0px;
       
    }

    .titulo{
        font-size: 35px;
        margin-bottom: 15px;
         
    }
    .linea{
        width: 75%;
        text-align: center;
        margin-left: 78px;
        padding: 0px 0px 28px 0px;
    }
    .galeria{
        width: 90%;   
    }
    .galeria-red img{
        width:165px;
        height:169px;
    }

    .image_conter2{
        width:233px;
        height:246px;
    }
    .titulo1{
        font-size: 32px;
       
    }
    #ola_2{
        padding: 160px 0px 0px 0px;
    }
    .titulo3{
        font-size: 35px;
        margin-bottom: 30px;
        
    }
    .linea3{
        width: 76%;
        margin-left: 67px;
        
    }
    .titulo4{
        font-size: 32px;        
    }
    .image_conter4{
        width:240px;
        height:253px;  
    }
    .parrafo4{
        font-weight: 300;

    }


    .titulo5{
       
        font-size: 35px;
    }
    .linea5{
        margin-left: 7px;
        padding: 25px 35px 27px 0px;  
    }
    .image_conter5{
        width:211px;
        height:200px;
        
    }


    .titulo6{
        font-size: 40px;
        margin-bottom: 40px;
        
        
    }
    .linea6{
        margin-left: 15px;
     
    }
    #ola_3{
        padding: 155px 0px 0px 0px;
    }
    .conteiner7{
        background-color:#000;
    }
    .contenedor-footer{
       
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        padding-bottom: 50px;
        color: #fff;
    }
    .conteiner7{
       
        padding: 60px 0 30px 0;
        margin: auto;
        
    }
    .parrfo-footer{
        padding: 25px 0px 0px 0px;
    }
    .contenedor-footer{
   
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        padding-bottom: 50px;
        color: #fff;
    }
    .conteiner7{
       
        padding: 60px 0 30px 0;
        margin: auto;
        
    }
}