*{
    margin:0;
    padding:0px;
    box-sizing:border-box;
}


nav{
    width: 100%;
    padding: 15px 10px 15px 0;
    background: #3d7483;
    border: 1px solid transparent;
    position: fixed;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    z-index: 100;
   
}
.nav{
    display: flex;
    justify-content:center;
    align-items: center;
}
.link{
    font-weight: 300;
}
.link a{
    color:#fff;
    text-decoration: none;
    margin-left:20px;
}
header{
    width: 100%;
    height: 850px;

    background: #f3904f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(24, 87%, 63%,0.6), hsl(231, 31%, 34%,0.4)),url(../images/img01.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(24, 87%, 63%,0.6), hsl(231, 31%, 34%,0.4)),url(../images/img01.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#ola_1{
    width: 100%;
    bottom: -10px;
    padding: 0px 0px 0px 0px;
    height: 254px;
    overflow: hidden;
}
.contenedor{
    width: 90%;
    max-width: 1150px;
    margin: auto;
    overflow: hidden; 
    padding: 45px 0px 0px 0px;
}
.text-header > h1,h2{
    color: #fff;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 10px;
   
    
}
.text-header{
    padding: 100px 0px 0px 0px;
}
.text-header > a{
    background: #fff ;
    display: inline-block;
    width: 170px;
    margin: 28px 0 0 0;
    text-align: center;
    color: rgba(226, 82, 82, 0.733);
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}
.conteiner1{
    background-color:#fff;
}
.contenedor_1{
 
    padding: 0px 0px 40px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
   
}
.titulo{
    font-size: 60px;
    /*color:#45415e;*/
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color:#113BCA;
}
.linea{
    width: 40%;
    text-align: center;
    margin-left: 300px;
    padding: 0px 0px 17px 0px;
}
.galeria{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.galeria-red{
    width: 40%;
    height: 30%;
    text-align: center;
    margin-left: 20px;
   
}
.galeria-red img{
    width:200px;
    height:195px;
    border-radius: 100%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}
.galeria-red h3{
    margin: 10px 0;
}
.service-red p{
    font-weight: 300;
    text-align: justify;
}


.conteiner2{
    background-color:#265FCC;
}

.contenedor_2{
    
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.tamaño{
    
    display: flex;
    justify-content: space-evenly;
}
.image_conter2{
    width:400px;
    height:395px;
    border-radius:100%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}
.titulo1{
    font-size: 42px;
    
    text-align: left;
    margin-bottom: 33px;
    text-transform: uppercase;
   
}
.contenedor_2 .parrafos{
    width: 330px;
    
}
.parrafo1{
 
    text-align: justify;
    font-weight: 300;
}
.parrafos > a{
    background: #fff ;
    display: inline-block;
    width: 170px;
    margin: 28px 0 0 0;
    text-align: center;
    color: #113BCA;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}
#ola_2{
    width: 100%;
    bottom: -10px;
    
    height: 254px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}

.conteiner3{
    background-color:#fff;
}
.contenedor_3{
    
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.titulo3{
    color: #113BCA;
    font-size: 45px;
    
    text-align: center;
    margin-bottom: 33px;
    text-transform: uppercase;
}
.linea3{
    width: 40%;
    text-align: center;
    margin-left: 300px;
    padding: 0px 0px 45px 0px;
}
.materia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.materia h3 span{
    background: #FFF;
    color:#113BCA;
    width: 240px;
    height: 290px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 90px 0px 33px 0px;
    box-shadow:  0 0 7px 0 rgb(38 95 204);
    margin-right: 7px;
    font-size: 45px;
}


.conteiner4{
    background-color:#265FCC;
}
.contenedor_4{

    padding: 60px 0;
    width: 90%;
    max-width: 1300px;
    margin: auto;
}
.tamaño4{
    
    display: flex;
    justify-content: space-evenly;
   
}
.titulo4{
    font-size: 40px;
    
    text-align: left;
    margin-bottom: 33px;
    text-transform: uppercase;
    padding: 50px 0px 0px 0px;
   
}
.image_conter4{
    width:414px;
    height:395px;
    
    border-radius: 100%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
    
}
.parrafo4{
 
    text-align: justify;
    font-weight: 300;
}
.contenedor_4 .parrafos4{
    width: 600px;
    
}
.parrafos4 > a{
    background: #fff ;
    display: inline-block;
    width: 170px;
    margin: 28px 0 0 0;
    text-align: center;
    color: #113BCA;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}


.conteiner5{
    background-color:#fff;
}
.conteiner5{
    width: 100%;
    height: 850px;

    background: #f3904f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(24, 87%, 63%,0.6), hsl(231, 31%, 34%,0.4)),url(../images/img8.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(24, 87%, 63%,0.6), hsl(231, 31%, 34%,0.4)),url(../images/img8.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    
    position: relative;
}
.contenedor_5{
    
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.titulo5{
    color: #fff;
    font-size: 35px;
    
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.linea5{
    color:#fff;
    text-align:inherit;
    margin-left: 70px;
    padding: 110px 0px 25px 0px;
    text-transform:uppercase;
    text-align: justify;
}
.image_conter5{
    width:345px;
    height:304px;
    border-radius:50%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}

.conteiner6{
    background-color:#265FCC;
}
.contenedor_6{
    
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.titulo6{
    font-size: 50px;
    
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}
.linea6{
    color: rgb(198, 178, 230);
    text-align:center;
    margin-left: 70px;
    padding: 0px 0px 50px 0px;
    text-transform:uppercase;
}
.buscador1{
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.email{
    background: rgb(216 213 213) ;
    display: inline-block;
    width: 350px;
    margin: 28px 0 0 0;
    
    color: #113BCA;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    

}
.Suscribirse{
    background:#fff;
    display: inline-block;
    width: 130px;
    margin: 28px 0 0 0;
    text-align: center;
    color:rgba(226, 82, 82, 0.733);
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);

}
.justify-content-center {
    justify-content: center!important;
}
#ola_3{
    width: 100%;
    bottom: -10px;
    
    height: 254px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}

.conteiner7{
    background-color:#000;
}
.contenedor-footer{
   
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding-bottom: 50px;
    color: #fff;
}
.conteiner7{
   
    padding: 60px 0 30px 0;
    margin: auto;
    
}
.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #5d6678;
    width: 40px;
    height: 40px;
    border:1px solid #5d6678;
    border-radius: 50%;
    line-height: 38px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    margin-right: 5px;
    transition:  all .3s ease-in-out;
}
.social-media i:hover{
    color: #fff;
    background-color: #16c79a;
    border-color: #16c79a;
}
.parrfo-footer{
    padding: 25px 0px 0px 0px;
}